@import '../../../../css/general_styling';

.node {
    .heightNode {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 50px;
    }
}

.node2 {
    .col2 {
        .ant-typography {
            display: flex;
            align-items: center;
            height: 50px;
            margin-bottom: 0;
        }
    }
    .heightNode2 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        
    }
    .hash {
        width: 90%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}