{
  "extends": [ "airbnb", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "func-names": "error",
    "new-cap": "off",
    "arrow-parens": "off",
    "consistent-return": "off",
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "import/no-unresolved": "error",
    "import/no-extraneous-dependencies": "off",
    "import/no-dynamic-require": "off",
    "import/prefer-default-export": "off",
    "no-use-before-define": "off",
    "promise/param-names": "error",
    "promise/always-return": "error",
    "promise/catch-or-return": "error",
    "promise/no-native": "off",
    "react/jsx-no-bind": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/jsx-closing-bracket-location": "warn",
    "react/jsx-one-expression-per-line": "off",
    "react/prefer-stateless-function": "warn",
    "react/no-unused-prop-types": "error",
    "react/prop-types": "warn",
    "react/sort-comp": "error",
    "jsx-a11y/label-has-associated-control": "off",
    "class-methods-use-this": "off",
    "no-duplicate-imports": "error",
    "no-param-reassign": "error",
    "no-plusplus": "off",
    "no-bitwise": "off",
    "no-underscore-dangle": "off",
    "no-console": "off",
    "no-mixed-operators": "off",
    "prefer-template": "warn",
    "no-unused-vars": "warn",
    "no-trailing-spaces": "warn",
    "padded-blocks": "warn",
    "no-undef": "warn",
    "arrow-body-style": "warn",
    "key-spacing": "warn",
    "no-empty-function": "warn",
    "max-len": "warn",
    "no-useless-escape": "warn",
    "prefer-const": "warn",
    "object-curly-spacing": "warn",
    "spaced-comment": "warn",
    "quotes": ["error", "single"],
    "import/imports-first": "warn",
    "no-multi-spaces": "warn",
    "no-multiple-empty-lines": "warn",
    "react/jsx-indent": "warn",
    "flowtype/define-flow-type": "warn",
    "flowtype/use-flow-type": "warn",
    "global-require": "off"
  },
  "plugins": [
    "import",
    "promise",
    "react",
    "flowtype"
  ]
}
