@import '../../../css/general_styling';

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 0;
  right: 0;
  border-bottom: 4px solid $white;
  border-right: 4px solid $white;
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.resizable-content {
  height: 90%;
  overflow-y: scroll;
}

.ant-modal {
  margin-top: -50px;
  width: 80% !important;
}

.ant-modal-body {
  padding: 0 24px !important;
}

.box {
  cursor: pointer;
  text-align: left;
  p {
    margin: 0;
    @include primary-text($body, $primary-color, normal);
  }
  background: $dark-grey;
  border-radius: 5px;
  border: 1px solid #212121;
  padding: 8px;
  margin: 1em 0;
}

.ant-modal-header {
  background-color: #131325;
  .ant-modal-title {
    color: $white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
}

.ant-modal-content {
  background-color: #1f1f30;
  .anticon-close {
    color: $white;
  }
  p, div {
    @include primary-text(1em, rgba(255, 255, 255, 0.7), normal);
    margin-bottom: 1em;
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 600;
  }
}

.TitleModal {
  @include primary-title(
    2em!important,
    rgba(255, 255, 255, 0.7) !important,
    300!important
  );
  margin-bottom: 0.5em !important;
  font-family: 'Open Sans', 'sans-serif' !important;
}

.ant-btn.ant-btn-primary {
  background: #747fe4;
  text-transform: uppercase;
  border: none;
  color: #1f1f30;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
  &:hover {
    background: #747fe4;
    color: #1f1f30;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
  }
}

.ant-btn {
  border-radius: 20px;
  background: #747fe4;
  text-transform: uppercase;
  border: none;
  color: #1f1f30;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  &:hover {
    background: #747fe4;
    color: #1f1f30;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
  }
}

.ModalConfirm {
  padding-top:8em;
  padding-bottom:1em;
  padding-left:5em;
  padding-right: 5em;
  .ant-modal-content {
    padding:3em 3em 1em 3em;
    .ant-modal-confirm-title {
      @include primary-title(1.5em, $white, 300);
      margin-bottom: 1em;
      font-family: 'Open Sans', sans-serif;
    }
    .anticon {
      margin-top: 5px;
    }
    .ant-modal-confirm-content {
      color: $white;
    }
  }
}
