@import '../../../../css/general_styling';

th.ant-table-row-cell-break-word {
  background-color: $dark-grey !important;
}

.ant-table-content > .ant-table-body > table > .ant-table-tbody > tr:hover {
  td {
      background: transparent;
  }
}


.ContainerApp {
  .tabla {
    padding: 0 1em;
    .rowHash {
      display: flex;
      flex-direction: row;
      position: relative;
      .copyHash {
        height: 20px;
        width: 80%;
        overflow: hidden;
        .ant-typography {
            color:$white;
        }
      }
      .ant-typography-copy {
        position: absolute;
        right: 0;
        top:0;
      }
    }

    .rowMessage {
        display: flex;
        flex-direction: row;
        position: relative;
        .copyMessage {
          height: 20px;
          width: 80%;
          overflow: hidden;
          color: $white;
          .ant-typography {
            color:$white;
        }
        }
        .ant-typography-copy {
          position: absolute;
          right: 0;
          top:0;
        }
      }

    .ant-table-small {
      border: none;
      padding: 0;
      .ant-table-content
        > .ant-table-body
        > table
        > .ant-table-tbody
        > tr:hover {
        td {
          color: $background;
        }
      }
    }
    .ant-table-header-column {
      @include primary-text($body, $white, bold);
    }
    td {
      @include primary-text($label, $white, 100);
      margin: 1em 0;
    }
  }
}

@media only screen and (max-width: 500px) {
  .ContainerApp {
    .card {
      .titleCard4 {
        h4 {
          width: 30% !important;
        }
        button {
          width: 30% !important;
        }
        input {
          width: 30% !important;
        }
      }
    }
  }
}
