@import '../../css/general_styling';

.contentModal {
    padding:0.5em 2em;
    .listStyle {
      list-style-type: none;
      li {
        list-style-type: none;

      }
    }
    .code {
      background: black;
      padding:5px;
      display: block;
    }
.TitleModal {
    @include primary-title(20px, $primary-color, bold);
    margin-bottom: 1em;
  }
  .SubTitleModal {
    @include primary-title(16px, $white, bold);
    margin-bottom: 1em;
  }
  p {
      font-size: $body;
  }
}
